body {
    font-family: "Segoe UI";
    text-align: center;
	background-color: #FFF1DC;
}

table {
    margin: 50px auto;
    border: 3px solid black;
	border-collapse: collapse;
}

th {
	border: 3px solid black;
	width: 50px;
	height: 50px;
	background-color: teal;
}

td {
	border: 3px solid black;
	width: 50px;
	height: 50px;
	background-color: orange;
}

img {
	width: 50px;
	height: 50px;
}

input {
	color: orange;
	background-color: teal;
	border-style: round;
	border-color: black;
	border-radius: 10px;
	font-size: calc(0.5vw + 2vh);
	width: calc(15vw + 10vh);
}

select {
	background-color: teal;
	color: orange;
	height: 5vh;
	width: 10vh;
	min-width: 20vh;
	text-align: center;
	font-size: calc(0.5vw + 2vh);
	border-style: round;
	border-color: black;
	border-radius: 10px;
	border-width: 3px
}

h1 {
	background-color: teal;
	color: orange;
	text-align: center;
	border-style: round;
	border-color: black;
	border-radius: 10px;
}

#amongus {
	min-height: 25vh;
	min-width: 50vw;
}

#tries {
	position: absolute;
	right: 0;
	top: 0;
}
