<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ASR Computing Open House</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <!-- render answer_table with congratulations amongus image -->
        <img id="amongus" src="/static/AMONG US.jpg" alt="AMONG US.jpg">

        <h2>Ya'll took {{ tries }} tries!</h2>
        
        <table>
            <tr>
                <th></th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
            </tr>
            {% for i in range(4) %}
            <tr>
                <th>{{ i + 1 }}</th>
                {% for j in range(4) %}
                        <td><img src="/static/{{ answer_table[i][j] }}" alt="{{ answer_table[i][j] }}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        
        <!-- form with button to redirect back to "/" route for another round of game yay-->
        <form action="/" method="GET">
            <input type="submit" value="Return to Lobby">
        </form>
    </body>
</html>
