<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ASR Computing Open House</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <h2>The image positions are as shown</h2>
        <table>
            <tr>
                <th></th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
            </tr>
            {% for i in range(4) %}
            <tr>
                <th>{{ i + 1 }}</th>
                {% for j in range(4) %}
                    {% if expose_table[i][j] == None %}
                        <td></td> <!-- fill in a colour using css-->
                    {% else %}
                        <img src="/static/{{ expose_table[i][j] }}" alt="{{ expose_table[i][j] }}">
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <form action="/game" method="GET">
            <input type="submit" value="Continue with Game">
        </form>    
    </body>
</html>
