<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <!--
        game_table
        render game_table variable to html table (with row and column header: A to D, 1 to 4)
            use jinja if statements check if table data is None
                if none, just use color fill
                if not none, use <img> tag
        form with two <select> elements to choose each row and column pair for the guesses
            select items from row_col variable
        submit button directs to /process_game
        -->
        <h2>Guess the coordinates of the two matching pairs!</h2>
        <table>
            <tr>
                <th></th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
            </tr>
            {% for i in range(4) %}
                <th>{{ i + 1 }}</th>
                {% for j in range(4) %}
                    {% if game_table[i][j] == None %}
                        <td></td> <!-- fill in a colour using css-->
                    {% else %}
                        <img src="{{ game_table[i][j] }}" alt="{{ game_table[i][j] }}">
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>

        <!-- form to select coordinates guessed -->
        <form action="/process_game" method="POST">
            <table>
                <tr> <!-- the labels -->
                    <td><label for="guess1">Guess #1</label></td>
                    <td><label for="guess2">Guess #2</label></td>
                </tr>
                <tr> <!-- the select tags -->
                    <td>
                    <select id="guess1" name="guess1">
                        {% for coordinate in row_col %}
                        <option value="{{ coordinate }}">{{ coordinate }}</option>
                        {% endfor %}
                    </select>
                    </td>
                    <td>
                    <select id="guess2" name="guess2">
                        {% for coordinate in row_col %}
                        <option value="{{ coordinate }}">{{ coordinate }}</option>
                        {% endfor %}
                    </select>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Guess!">
        </form>
    </body>
</html>
