<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <!--
        game_table
        render game_table variable to html table (with row and column header: A to D, 1 to 4)
            use jinja if statements check if table data is None
                if none, just use color fill
                if not none, use <img> tag
        form with two <select> elements to choose each row and column pair for the guesses
            select items from row_col variable
        submit button directs to /process_game
        -->
        <h2>Guess the coordinates of the two matching pairs!</h2>
        <table>
            <tr>
                <th></th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
            </tr>
            {% for row in game_table %}
                <th></th>
            {% endfor %}
        </table>
    </body>
</html>
